// primary colors

//  text
$white: #ffffff;
$black: #000000;
$orange: #ff6b08;
$orange-btn: #ff6b01;
$grey: #8c8c8c;
$grey-light: #f7f7f7;
$grey-second: #545454;
$red: #ff001b;

// background
$hero-bg: #e5e5e5;
$modal-bg: #ffffff;
$orange-bg: #ff6b01;
$footer-bg: #f7f7f7;
$hero-bg-my-library: rgba(0, 0, 0, 0.56);
