<footer class="footer">
  <div class="footer-container">
    <ul class="footer-list">
      <li class="footer-item">&#169; 2022 | All Rights Reserved |</li>
      <li>
        <ul class="footer-item-container">
          <li class="footer-item">
            <span>Developed with</span>
            <svg class="footer-icon" width="14px" height="13px">
              <use href="./images/icon/symbol-defs.svg#icon-heart"></use>
            </svg>
          </li>
          <li class="footer-item">
            <button class="team-modal">by GoIT Students</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
