<div class="backdrop is-hidden">
  <div class="group-modal">
    <button class="group-button">
      <svg class="group-close-icon" width="30px" height="30px">
        <use href="./images/icon/symbol-defs.svg#icon-close_menu"></use>
      </svg>
    </button>
    <h3 class="group-title">Our team</h3>

    <div class="group">
      <ul class="group-list">
        <li class="group-item">
          <img
            src="./images/modal/foto-evgenia.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Євгенія<br />Подузова</p>
              <span class="partner-position">Team Lead</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-anna.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Анна<br />Рябова</p>
              <span class="partner-position">Scrum Master</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-anatolij.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Анатолій<br />Солошенко</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-andrij-a.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Андрій<br />Андрусенко</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-andrij-l.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Андрій<br />Лавров</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-anton.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Антон<br />Старшинов</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-arina.png"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Арина<br />Грущенко</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-vita.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Віта<br />Петрушина</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-maxim.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Максим<br />Мороз</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-alexander.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Олександр<br />Хардін</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img
            src="./images/modal/foto-sergei.jpg"
            alt="Фото"
            class="group-picture"
          />
          <div class="info-partner">
            <div class="about-partner">
              <p class="partner-name">Сергій<br />Єремей</p>
              <span class="partner-position">Developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon">
                      <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
