<div class="backdrop is-hidden">
  <div class="group-modal">
    <button class="group-button">
      <svg class="group-close-icon" width="30px" height="30px">
        <use href="./images/icon/symbol-defs.svg#icon-close_menu"></use>
      </svg>
    </button>
    <h2 class="group-title">команда pagemasters</h2>

    <div class="group">
      <ul class="group-list">
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 1</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 2</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 3</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 4</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 5</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 6</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 7</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 8</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 9</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 10</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="group-item">
          <img src="./images/foto.jpg" alt="Фото" class="group-picture" />
          <div class="info-partner">
            <div class="about-partner">
              <h3 class="partner-name">Имя 11</h3>
              <span class="partner-position">developer</span>
            </div>
            <div class="social">
              <ul class="social-list">
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-fb"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-tg"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-gh"></use>
                  </svg>
                </li>
                <li class="social-item">
                  <svg class="social-icon" width="30px" height="30px">
                    <use href="./images/icon/symbol-defs.svg#icon-id"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
