<header class="page-header">
  <div class="header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <svg class="logo-svg" width="24" height="24">
          <use href="./images/icon/symbol-defs.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka </span></a
      >
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="./index.html" class="nav-list-link current">Home</a>
        </li>
        <li class="nav-list-item">
          <a href="./my-library.html" class="nav-list-link">my library</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
