.gallery {
  padding: 60px 16px;
}
.gallery__container {
  margin-right: auto;
  margin-left: auto;

  padding: 0 16px;
  @media screen and (min-width: $mobile) and (max-width: 767px) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
  }
}
.gallery__box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-top: -16px;
}
.card {
  margin-top: 16px;
  margin-left: 16px;
  //flex-basis: calc(100% / 3 - 16px);
}
.card__img {
  margin-bottom: 12px;

  max-width: 395px;
  max-height: 574px;
  border-radius: 5px;
}
.card__wrap {
  display: flex;
  align-items: flex-end;
}

.card__titel {
  margin-right: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: $black;
  text-transform: uppercase;
}
.card__text {
  color: $orange;
  text-transform: none;
}
.cart__rating {
  width: 40px;
  height: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background: #ff6b01;
  border-radius: 5px;
}
