.backdrop {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group-modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 350px;
  padding: 10px 5px;

  @media screen and (min-width: $tablet) {
    width: 700px;
    height: 500px;
  }
  @media screen and (min-width: $desktop) {
    width: 850px;
    height: 500px;
    padding: 20px 15px;
  }

  background-color: $modal-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.group-title {
  color: $orange;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 30px;
}

.group-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 10px;
  column-gap: 5px;

  @media screen and (min-width: $tablet) {
    row-gap: 20px;
    column-gap: 10px;
  }
}

.group-item {
  text-align: center;
  flex-basis: calc((100% - 50px) / 6);
  transition: transform 0.25s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.group-picture {
  margin: 0 auto;
  width: 50px;
  height: 50px;

  border-radius: 50%;

  @media screen and (min-width: $tablet) {
    width: 150px;
    height: 110px;
  }
  @media screen and (min-width: $desktop) {
    width: 100px;
    height: 100px;
  }
}

.group-button {
  position: absolute;
  top: 10px;
  right: 10px;

  box-sizing: border-box;
  cursor: pointer;
}

.group-close-icon {
  &:hover,
  &:focus {
    fill: $orange-bg;

    // animation
    animation-name: 'close';
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    @keyframes close {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.2);
      }
    }
  }
}

.info-partner {
  position: relative;
  overflow: hidden;

  margin-top: 10px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 5px 0;
}

.social-item {
  align-items: baseline;
}

.social {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: $footer-bg;
  transform: translateY(100%);
  box-sizing: border-box;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group-item:hover .social,
.group-item:focus .social {
  transform: translateY(0);
}

.social-icon {
  fill: $grey;
  &:hover,
  &:focus {
    fill: $orange-bg;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.partner-position {
  font-size: 12px;
  font-style: italic;
}
